.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

main .content-container {
  text-align: center;
  padding: 2rem;
}

main .content-container .title {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--gray-color);
  margin-bottom: 1.5rem;
}

main .content-container .title span {
  font-weight: 700;
  color: var(--bold-color);
}

main .content-container .text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

main .content-container .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

main .content-container .form input {
  padding: 2rem;
  border-radius: 3rem;
  border: 1px solid var(--border-or-hover-color);
}

main .content-container .form input::placeholder {
  color: var(--border-or-hover-color);
  font-size: var(--default-font-size);
  margin-left: 4rem;
}

main .content-container .form button {
  padding: 2rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: #ffff;
  font-size: var(--default-font-size);
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

main .content-container .form button:hover {
  background-color: #4f7df3d7;
}

main .content-container img {
  width: 100%;
  height: 100%;
  margin: 3rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.footer .social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.footer .social-links-list li a {
  border: 1px solid var(--border-or-hover-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  text-decoration: none;
  color: var(--primary-color);
}

.footer .social-links-list li a:hover {
  background-color: var(--primary-color);
  color: #ffff;
}

.footer .social-links-list li a i {
  font-size: 2rem;
}

.footer p {
  font-size: 1rem;
  color: var(--gray-color);
  margin-top: 3rem;
}
